<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Print</title>
        <link
            rel="stylesheet"
            href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="printStyle.css" />
        <script src="../node_modules/vue/dist/vue.global.js"></script>
    </head>
    <body id="app">
        <div class="header primary">
            <div class="row d-flex justify-content-between wrapper">
                <div class="col-7">
                    <img src="logo.png" height="80px" />
                </div>
                <div class="col-5 text-end">
                    <p></p>
                    <p>+961 00 000 000<strong> :الهاتف</strong></p>
                </div>
            </div>

            <hr class="mt-0 pt-0 primary-hr wrapper" />

            <div class="row d-flex justify-content-between">
                <div class="col-6">
                    <p>
                        <strong>Billed To:</strong> {{ invoice.customer_name }}
                        <br />
                        <strong>Phone:</strong> {{ invoice.customer_phone }}
                        <br />
                        <strong>Address:</strong> {{ invoice.customer_address }}
                    </p>
                </div>

                <div class="col-2">
                    <!-- <h2 class="text-center">Price Quote</h2> -->
                </div>

                <div class="col-4 text-end">
                    <h3 v-if="invoice.type == 'sale'">Sales Invoice</h3>
                    <h3 v-if="invoice.type == 'return'">Return Invoice</h3>
                    <p>
                        <strong>Invoice #:</strong> {{ invoice.invoice_number }}
                        <br />
                        <strong>Date:</strong> {{ invoice.order_datetime }}
                    </p>
                </div>

                <br />
            </div>

            <table class="table table-bordered table-sm text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item Description</th>
                        <th>Unit Price</th>
                        <th>Qty</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(record, index) in invoice.items" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ record.product_name }}</td>
                        <td>{{ currency(record.unit_price) }}</td>

                        <td>{{ record.quantity }}</td>

                        <td>{{ currency(record.total_price) }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row d-flex justify-content-end text-end">
                <div class="col-6 text-end">
                    <strong
                        >Grand total: {{ currency(invoice.total_amount)
                        }}</strong
                    >
                </div>
            </div>
        </div>

        <footer class="divFooter fixed">
            <!-- <img src="icon-250.png" style="opacity: 0.1" /> -->
        </footer>

        <script>
            const { createApp, ref } = Vue;

            createApp({
                setup() {
                    const invoice = ref({});

                    const currency = (value, symbol = "$", decimals = 2) => {
                        if (value === undefined || value === null) return "";
                        return (
                            symbol +
                            Number(value)
                                .toFixed(decimals)
                                .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
                        );
                    };

                    window.electron.print((event, data) => {
                        console.log(data);
                        invoice.value = data;
                    });

                    return {
                        invoice,
                        currency,
                    };
                },
            }).mount("#app");
        </script>
    </body>
</html>
